<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {{ seo }}
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | relative_url }}">UTZ Security</a></h1>
      <nav>
        <a href="{{ '/' | relative_url }}">Inicio</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
        <a href="{{ '/about/' | relative_url }}">Sobre mí</a>
        <a href="{{ '/contact/' | relative_url }}">Contacto</a>
      </nav>
    </header>

    <main id="main">
      {{ content }}
    </main>

    <footer>
      <p>UTZ Security © 2025</p>
    </footer>
  </body>
</html>
